deepdiff==8.3.0
deepmerge==2.0
elementpath==4.8.0
et_xmlfile==2.0.0
ifcopenshell==0.8.1.post1
ifctester==0.8.1
isodate==0.7.2
lark==1.2.2
numpy==2.2.3
openpyxl==3.1.5
orderly-set==5.3.0
pandas==2.2.3
python-dateutil==2.9.0.post0
pytz==2025.1
shapely==2.0.7
six==1.17.0
typing_extensions==4.12.2
tzdata==2025.1
xmlschema==3.4.3
